body {
  box-sizing: border-box;
  background-color: black;
}

nav {
  height: 45px;
}
header p {
  font-weight: 700;
}
.center_colum {
  overflow-y: auto;
}
.side_colum {
  overflow-x: hidden;
  position: fixed;
}
a {
  text-decoration: none;
}
#Btn_ahead {
  width: 100px;
  padding: 10px;
  margin-right: 100px;
}
.radius-Top {
  border-radius: 6px 0px 0px;
}
.radius-End {
  border-radius: 0px 0px 0px 6px;
}

.margin-Sistem {
  margin-left: -4px;
}

section p {
  font-size: 14px;
}

.width_container {
  width: 61px;
}
.bg-gray {
  background-color: #2b2b2b;
}

.resizing {
  width: 94%;
  background: rgb(121, 27, 9);
  background: linear-gradient(90deg, rgba(121, 27, 9, 1) 4%, rgba(36, 0, 0, 1) 19%);
}
.i_header {
  font-size: xx-large;
}

#dropdown {
  border-radius: 100px;
}

.resizing_md {
  background: hsla(0, 0%, 8%, 1);

  background: linear-gradient(225deg, hsla(0, 0%, 8%, 1) 36%, hsla(0, 0%, 0%, 1) 65%);

  background: -moz-linear-gradient(225deg, hsla(0, 0%, 8%, 1) 36%, hsla(0, 0%, 0%, 1) 65%);

  background: -webkit-linear-gradient(225deg, hsla(0, 0%, 8%, 1) 36%, hsla(0, 0%, 0%, 1) 65%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#151515", endColorstr="#000000", GradientType=1 );
}

#cancel_button {
  width: 150px;
  height: 30px;
  font-size: 13px;
  border-radius: 40;
  background-color: #151515;
  border: none;
}
#toggle {
  display: none;
}
#card {
  display: none;
}
.margin-align {
  margin-left: -13px;
}

.resizing_img {
  width: 160px;
}

.resize {
  font-size: x-large;
}

.colorGreen {
  color: green;
}

@media screen and (min-width: 576px) {
  .fix {
    width: 30%;
    background-color: #2b2b2b;
    margin-left: 1rem;
  }
  body {
    background-color: #151515;
  }
  .color_ {
    background-color: #151515;
  }
  .color- {
    background-color: #2b2b2b;
  }
}

@media screen and (min-width: 768px) {
  #card {
    display: block;
  }
}

.back_groundcard {
  background: rgb(42, 45, 56);
  background: linear-gradient(90deg, rgba(42, 45, 56, 1) 10%, rgba(0, 0, 0, 1) 30%);
  width: 70%;
}

.current-track-cover {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 4px;
}

.current-track-info {
  max-width: calc(100% - 60px);
  padding-left: 8px;
}

.current-track-title {
  font-size: 0.875rem;
  line-height: 1.2;
  margin-bottom: 0;
}

.play_font {
  font-size: 33px;
  color: white;
  cursor: pointer;
}
.play_font:hover {
  color: #1ed760;
}
